<!DOCTYPE html>

<html lang="zh-cn">
 <head>
  <include file="Public/head"/>

  <meta name="description" content={$description} /> 
  <meta name="keywords" content={$keywords} /> 
  <title>{$title}</title> 

 </head> 
 <body> 

  <include file="Public/header"/>
 

  <section class="job-list"> 
   <div class="container"> 
    <div class="row"> 
     <h2>关于 <strong>翘课网</strong></h2>
<img src="__PUBLIC__/images/about1.jpg" width="228px" height="168px"/>
     <h3>翘课网<small>是一个智能教育推荐平台<br>通过数据挖掘搭起企业招聘职位信息与职业教育培训的桥梁，将招聘与教育无缝结合，提高用户学习的针对性和动力，发挥互联网在提升职业教育上的效率优势。</small>
      </h3>
   <p></p>
      <h3>
        翘课网
        <small>是基于数据挖掘、机器学习的技术驱动的职业教育学习平台
          <br>通过建立起企业招聘信息与线上、线下职业教育的桥梁关系，让用户能够有针对性地学习，提高就业率<br>

</small>
      </h3>
      <p><img src="__PUBLIC__/images/readme.png" width="328px" height="228px"/>阅读 源于 对知识的渴望！ 有目的的 持之以恒 的学习 将让你受益终生......
      </p>
      <p>写作 创造 深远的智慧，成败有时，只在于你对细节的把握，在需要抉择的时候做最优的选择<img src="__PUBLIC__/images/xuexi.jpg" width="428px" height="428px"/>
      </p>
    </div>
    
   </div>
   <!-- .container --> 
  </section> 
  
  <include file="Public/footer"/>

 </body>
</html>