<footer class="footer " style="background-image: url(__PUBLIC__/images/footer.jpg);"> 
   <div class="container"> 
    <div class="row footer-top"> 
     <div class="col-sm-6 col-lg-6"> 
      <h4> <img src="__PUBLIC__/images/logo.png" /> </h4> 
      <h4><a href="#">翘课网</a><small>提供最精致的职业教育推荐服务</small></h4> 
      <p>通向职业 之路&nbsp;&nbsp;<img src="__PUBLIC__/images/marker_red_sprite.png"/></p>
     </div> 
     <div class="col-sm-6  col-lg-5 col-lg-offset-1"> 
      <div class="row about"> 
       <div class="col-xs-4 col-md-3"> 
        <h4>关于</h4> 
        <ul class="list-unstyled"> 
         <li><a href="#">关于我们</a></li> 
         <li><a href="#">广告合作</a></li> 
         <li><a href="#">友情链接</a></li> 
        </ul> 
       </div> 
       <div class="col-xs-4 col-md-3"> 
        <h4>联系方式</h4> 
        <ul class="list-unstyled"> 
         <li><a href="http://weibo.com/warlife" title="逃课网官方微博" target="_blank">新浪微博</a></li> 
         <li><a href="mailto:justastriver@qq.com">电子邮件</a></li> 
        </ul> 
       </div> 
       <div class="col-xs-4 col-md-3"> 
        <h4>旗下网站</h4> 
        <ul class="list-unstyled"> 
         <li><a href="http://www.ren58.com/" target="_blank">人物世界</a></li> 
         <li><a href="http://www.pipichong.com/" target="_blank">爱美社区</a></li> 
        </ul> 
       </div> 
       <div class="col-md-3 hidden-xs"> 
        <h4>赞助商</h4> 
        <ul class="list-unstyled"> 
         <li><a href="http://www.baidu.cn/" target="_blank">百度</a></li> 
         <li><a href="https://www.ren58.com/" target="_blank">佳职联诚官网</a></li> 
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
    <hr /> 
    <div class="row footer-bottom"> 
     <ul class="list-inline text-center"> 
      <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备14006962号-2</a></li> 
     </ul> 
    </div> 
   </div> 
  </footer> 
  <script src="./js/jquery.min.js"></script> 
  <script src="./js/bootstrap.min.js"></script> 
  <script src="./js/jquery.scrollUp.min.js"></script> 
  <script>
      ;(function(window, document, $){
        // $(document).ready(function(){
        //   $.adaptiveBackground.run()
        // });

        $.scrollUp({
              scrollName: 'scrollUp', // Element ID
              topDistance: '300', // Distance from top before showing element (px)
              topSpeed: 300, // Speed back to top (ms)
              animation: 'fade', // Fade, slide, none
              animationInSpeed: 200, // Animation in speed (ms)
              animationOutSpeed: 200, // Animation out speed (ms)
              scrollText: '<i class="fa fa-angle-up"></i>', // Text for element
              activeOverlay: false  // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });

        $(window).scroll(function() {
            if ($("#navbar-top").offset().top > 300) {
                $('.co-brand > img').attr('src', '__PUBLIC__/images/logo2.png');
            } else {
                $('.co-brand > img').attr('src', '__PUBLIC__/images/logo2.png');
            }
        });
      })(window, document, jQuery)
      </script>
  <a id="scrollUp" href="#" style="position: fixed; z-index: 2147483647; display: none;"> <i class="fa fa-angle-up"></i> </a> 
  <!--
      <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd979e0116b6882c9cdc4cf2c8467d312' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script src="./js/h.js" type="text/javascript"></script>
      --> 