<div id="navbar-top" class="navbar-top navbar navbar-default navbar-fixed-top"> 
   <div class="container"> 
    <div class="navbar-header"> 
     <a href="{:U('Index/index')}" class="navbar-brand">首页</a> 
     <a href="{:U('About/index')}" class="navbar-brand">关于</a> 
     <!--<img src="/assets/img/bl.png">--> 
    </div> 
    <p class="navbar-text navbar-right co-brand hidden-xs"><img src="__PUBLIC__/images/logo2.png" /></p> 
   </div> 
  </div> 
  <header id="top-header" class="top-header jumbotron" style="background-image: url(__PUBLIC__/images/header.jpg);"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-md-12"> 
      <div class="page-header"> 
       <h2>上翘课网，找工作不用愁<small> 职业从此与众不同</small></h2> 
       <p></p> 
       <form class="bs-example bs-example-form" role="form"> 
        <div class="row"> 
         <div class="col-lg-6 visible-lg"> 
          <div class="input-group "> 
           <input type="text" class="form-control" id="search_words" /> 
           <span class="input-group-btn"> <button class="btn btn-success" type="button" id="search"> 搜索职位 </button> </span>

          </div>
          <!-- /input-group --> 
         </div>
         <!-- /.col-lg-6 --> 
        </div>
        <!-- /.row --> 
       </form> 
      </div> 
      <div class="features media"> 
       <h5 class="media-left">快捷入口：</h5> 
       <div class="media-body"> 
        <p class="coms"> <a target="_blank" href="#" class="label label-default label-ali" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '阿里'])">阿里</a> 
         <!-- <a href="/company/腾讯" class="label label-default label-tencent" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '腾讯'])">腾讯</a> --> <a target="_blank" href="#" class="label label-default label-baidu" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '百度'])">百度</a> <a target="_blank" href="#" class="label label-default label-sina" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '金山'])">金山</a> <a target="_blank" href="#" class="label label-default label-sohu" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '迅雷'])">迅雷</a> <a target="_blank" href="#" class="label label-default label-360" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '360'])">360</a> 
         <!-- <a href="/company/小米" class="label label-default label-xiaomi" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '小米'])">小米</a> --> <a target="_blank" href="#" class="label label-default label-lenovo" onclick="_hmt.push(['_trackEvent', 'coms', 'click', '畅游'])">畅游</a> </p> 
        <p class="salary"> <a href="#" class="label label-default" onclick="_hmt.push(['_trackEvent', 'salary', 'click', '10万起'])">10万起</a> <a href="#" class="label label-default" onclick="_hmt.push(['_trackEvent', 'salary', 'click', '20万起'])">20万起</a> <a href="#" class="label label-default" onclick="_hmt.push(['_trackEvent', 'salary', 'click', '30万起'])">30万起</a> <a href="#" class="label label-default" onclick="_hmt.push(['_trackEvent', 'salary', 'click', '50万起'])">50万起</a> <a href="#" class="label label-default" onclick="_hmt.push(['_trackEvent', 'salary', 'click', '土豪'])">土豪</a> </p> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </header> 
  