<section class="newest-jobs container"> 
   <div class="page-header"> 
    <h3>{$head_title}
     <small class="select-region pull-right">区域： <a href="#" onclick="_hmt.push(['_trackEvent', 'region', 'click', '全部'])">[全部]</a> <a href="#" onclick="_hmt.push(['_trackEvent', 'region', 'click', '北京'])">北京</a> <a href="#" onclick="_hmt.push(['_trackEvent', 'region', 'click', '广州'])">上海</a> <a href="#">广州</a> <a href="#" onclick="_hmt.push(['_trackEvent', 'region', 'click', '成都'])">深圳</a> <a href="#">成都</a> <a href="#" onclick="_hmt.push(['_trackEvent', 'region', 'click', '杭州'])">南京</a> <a href="#">杭州</a> 
      <div class="dropdown"> 
       <a class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"> 其他 <span class="caret"></span> </a> 
       <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"> 
        <li role="presentation"> <a role="menuitem" tabindex="-1" href="#" onclick="_hmt.push(['_trackEvent', 'region', 'click', '重庆'])">重庆</a> </li> 
        <li role="presentation"> <a role="menuitem" tabindex="-1" href="#" onclick="_hmt.push(['_trackEvent', 'region', 'click', '天津'])">天津</a> </li> 
        <li role="presentation"> <a role="menuitem" tabindex="-1" href="#" onclick="_hmt.push(['_trackEvent', 'region', 'click', '大连'])">大连</a> </li> 
       </ul> 
      </div> </small> </h3> 
   </div> 
</section> 